body {
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #777;
	width: 960px;
}

#header {
	background-color: #ebebeb;
}

nav {
	background-color: #ebebeb;
}

#main {
	width: 495px;
	height: 420px;
	display: inline-block;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ebebeb;
	border: 1px solid #ebebeb;
}

article {
	background-color: #777;
}

h2 {
	background-color: #ebebeb;
}

p {
	background-color: #ebebeb;
	margin-top: -15px;
}

aside {
	display: inline-block;
	float: right;
	margin-top: 20px;
}

img {
	height: 420px;
	width: 420px;
}

h6{
	clear: both;
	background-color: #ebebeb;
	padding-top: 8px;
	padding-bottom: 8px;
}